.login-container {
  background-color: black;
  min-height: 50vh;
  display: flex;
  align-items: center;
}

.login-form {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.error {
  color: red;
  font-size: 14px;
}