.home-container {
  position: relative;
  width: 100% !important;
  min-height: 100vh;
  overflow: hidden !important;
}


#background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Para ajustar el tamaño del video al contenedor */
  z-index: -1; /* Coloca el video detrás del contenido */
}


.imagenHome{
  margin-top: 50px;
  width: 38%;
  height: auto;
}

.textHome{
  color: white;
}

.buttonHome{
  border: rgb(217,217,217);
  border-radius: 100px;
  background-color: rgb(217,217,217);
  color: var(--color-black);
  width: 200px;
  height: 40px;
  font-size: 22px;
  transition: font-size 0.3s ease-in-out;
}

.buttonHome:hover{
  color: white;
  background-color:rgb(107,156,2);
  font-size: 26px;
}

@media (max-width: 768px) {
  .imagenHome{
    width: 60%;
    height: auto;
  }
}
@media (max-width: 500px) {
  .imagenHome{
    margin-top: 80px;
    width: 90%;
    height: auto;
  }
  .titleMedia{
    margin-top: 80px !important;
  }
}