body {
  background-color: black;
}
.imagenHome{
  width: 35%;
  height: auto;
}
.textHome{
  color: var(--color-text);
}

.buttonHome{
  border: rgb(217,217,217);
  border-radius: 100px;
  background-color: rgb(217,217,217);
  color: var(--color-black);
  width: 200px;
  height: 40px;
  font-size: 22px;
}

.buttonHome:hover{
  color: white;
  background-color:rgb(107,156,2);
}

@media (max-width: 768px) {
  .imagenHome{
    width: 50%;
    height: auto;
  }
  .titleMedia{
    margin-top: 100px !important;
  }
}