body{
  background-color: black;
}

.portada{
  width: 100% !important;
  height: 500px !important;
  background-image: url('../../assets/Portada.jpg');
  background-size: cover;
  background-position: center;
}

.imgPortada{
  width: 100%;
}

.h1Portada{
  color: #ffffff;
  font-size: 100px;
}

.h2Portada{
  color: #ffffff;
  font-size: 50px;
}


.llegot {
  transition: transform 1s ease-in-out;
  transform: translateX(110%);
}

.llegot.visiblet {
  transform: translateX(0);
}
.llegot2 {
  transition: transform 1s ease-in-out;
  transform: translateX(-110%);
}

.llegot2.visiblet2 {
  transform: translateX(0);
}
.llegot3 {
  transition: transform 1s ease-in-out;
  transform: translateY(-300%);
}

.llegot3.visiblet3 {
  transform: translateY(0);
}



@media (max-width: 800px) {
  .h1Portada{
    font-size: 80px;
  }
  .h2Portada{
    font-size: 40px;
  }
}
@media (max-width: 600px) {
  .h1Portada{
    font-size: 50px;
  }
  .h2Portada{
    font-size: 25px;
  }
}