.cardProd{
  background-color: white !important;
  border-radius: 30px;
  transition: box-shadow 0.3s ease-in-out;
  min-height: 200px;
}
.cardProd:hover{
  box-shadow: 0 16px 32px rgba(0, 128, 0, 0.5), 0 16px 32px rgba(0, 128, 0, 0.5);
}
.imgProd{
  width: 90%;
  border-radius: 20px;
  min-height: 200px;
  max-height: 200px;
}
.cardProd:hover .imgProd{
  transition: transform .2s;
  transform: scale(1.3) rotate(3deg);
}
.contText{
  z-index: 1;
}

.CardProdTitle {
  padding-top: 10px;
  position: relative;
}

.CardProdTitle::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 40%;
  height: 2px;
  background-color: green;
}
.CardProdDesc{
    text-align: justify;
  }
