.logoNav {
  width: 120px;
  height: auto;
}

.navTotal {
  background-color: black !important;
}

.colorSpan{
  background-color: rgb(100,102,118);
}

.navbar-nav {
  margin-left: auto;
}

.nav-link {
  position: relative;
  color: #fff;
  transition: color 0.3s ease-in-out, font-size 0.3s ease-in-out;
}

.nav-link::before,
.nav-link::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: rgb(107,156,2);
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.nav-link::before {
  top: -5px;
  transform-origin: left;
}

.nav-link::after {
  bottom: -5px;
  transform-origin: right;
}
.nav-link:hover {
  font-size: 1.4em;
}

.nav-link:hover::before,
.nav-link:hover::after {
  transform: scaleX(1);
}