.carousel-image {
  width: auto;
  height: 30px;
}
.carousel-image:last-child {
  margin-right: 0 !important;
}

.carousel-container {
  width: 80% !important;
  height: auto !important;
  overflow: hidden;
}

@media (min-width: 768px) {
  .carousel-image {
    width: auto;
    height: 60px;
  }
  .carousel-container {
    width: 50% !important;
    height: auto !important;
    overflow: hidden;
  }
}