.reels {
  width: auto !important;
  height: 535px !important;
  border-radius: 15px;
}

.fullscreen-image-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.imgDetail:hover{
  cursor: pointer;
}

.fullscreen-image {
  max-width: 90% !important;
  max-height: 90% !important;
}

.titleDetail{
  font-size: 70px;
}

@media (max-width: 991px) {
}
@media (max-width: 768px) {
  .titleDetail{
    font-size: 40px;
  }
}
@media (min-width: 768px) {
  .conte{
    display: flex !important;
    flex-wrap: wrap !important;
  }
}