.action-button {
  margin-right: 5px;
}

.table {
  background-color: #555;
  width: 100%;
  table-layout: fixed;
}

.table thead th {
  background-color: #0e5213;
}

.table tbody tr th {
  background-color: #575757 !important;
}

.table td p {
  overflow: hidden !important;
  text-overflow: ellipsis; 
  white-space: nowrap;
}
