.conten{
  max-width: 100% !important;
  overflow: hidden !important;
}

.llego0 {
  transition: transform 1s ease-in-out;
  transform: translateY(-110%);
}

.llego0.visible0 {
  transform: translateY(0);
}
.llego {
  transition: transform 1s ease-in-out;
  transform: translateX(110%);
}

.llego.visible {
  transform: translateX(0);
}
.llego2 {
  transition: transform 1s ease-in-out;
  transform: translateX(-110%);
}

.llego2.visible2 {
  transform: translateX(0);
}
.llego3 {
  transition: transform 1s ease-in-out;
  transform: translateX(110%);
}

.llego3.visible3 {
  transform: translateX(0);
}

.IconMetric{
  color: white;
  font-size: 60px;
}
.IconMetric2{
  color: white;
  font-size: 40px;
}

.TitleH2{
  font-size: 80px;
}

@media (max-width: 768px) {
  .TitleH2{
    font-size: 40px;
  }
}